<script>
  window.interestings = <%= raw(@interestings.to_json) %>
  window.backmakers = <%= raw(@backmakers.to_json) %>
  <% if @next_week_mc %>
  window.next_weeks_mc = <%= raw('"' + @next_week_mc + '"') %>
  <% end %>
  window.events = <%= raw(make_presentable(@events).to_json) %>
  window.moment_of_zen = <%= raw(@moment_of_zen.to_json) %>
</script>

<h1 class="text-3xl sm:text-5xl lg:text-6xl leading-none font-extrabold text-gray-900 tracking-tight mb-8">
  Allez let's go, c'est l'heure
</h1>

<div id=presentation class='grid grid-flow-col grid-cols-3 grid-rows-1 gap-4'>
<% if @interestings.any? %>
  <section id=interestings class="max-w-lg bg-green-200 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h2>Interestings</h2>
    <span><%= @interestings.count %></span>
  </section>
<% end %>

<% if @backmakers %>
  <section id=backmakers class="max-w-lg bg-purple-300 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h2>La Team</h2>
    <span><%= @backmakers.count %></span>
  </section>
<% end %>

<% if @events.any? %>
  <section id=events class="max-w-lg bg-yellow-200 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h2>Events</h2>
    <span><%= @events.count %></span>
  </section>
<% end %>

<% if @has_moment_of_zen && @moment_of_zen %>
  <section id=zen class="max-w-lg bg-blue-200 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
    <h2>Moment of Zen</h2>
  </section>
<% end %>

</div>

<% unless @backmakers or @interestings %>
<span>Nothing to present. Are you <strong>sure</strong> you want to run standup ?<span>
<% end %>

<section class='spotlight flex justify-center mt-10'>
</section>

<section class='absolute bottom-0 left-0 p-5'>
  <%= button_to 'Standup is DONE', '/standups/today', method: 'put', form_class: 'inline-flex py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
<section>

